RewriteEngine On

# Redirect real-estate subdomain
RewriteCond %{HTTP_HOST} ^real-estate\.vuen\.org$ [NC]
RewriteRule ^(.*)$ https://real-estate.vuen.ai/$1 [R=301,L]

# Redirect restaurant subdomain to real-estate demo
RewriteCond %{HTTP_HOST} ^restaurant\.vuen\.org$ [NC]
RewriteRule ^(.*)$ https://real-estate.vuen.ai/$1 [R=301,L]

# Redirect from vuen.org to vuen.ai
RewriteCond %{HTTP_HOST} ^vuen\.org$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.vuen\.org$ [NC]
RewriteRule ^(.*)$ https://vuen.ai/$1 [R=301,L]

# Redirect www to non-www  
RewriteCond %{HTTP_HOST} ^www\.vuen\.ai$ [NC]
RewriteRule ^(.*)$ https://vuen.ai/$1 [R=301,L]